.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    position: relative;
}
.circle2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -140px;
    left: -140px;
    width: 20%;
    /* background-color: blue; */
    z-index: 10;
    
}



.bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    transform: skewY(8deg);
    transform-origin: 100%;
    background:linear-gradient(145deg, #304858, #71aace);
    z-index: 1;
}
.block1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 55%;
    min-height: 50vh;
    /* background-color: red; */
    z-index: 10;
    text-align: start;
}
.nameHome{
    width: 60%;
    height: 50%;
    /* background-color: red; */
    margin-bottom: 10px;
}
.nameHome::after{
    content: "";
    animation-name: nameHome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', sans-serif;
}
@keyframes nameHome {
    0%{
        content: "J|";
    }
    12%{
        content: "Ju|";
    }
    24%{
        content: "Jua|";
    }
    40%{
        content: "Juan|";
    }
    52%{
        content: "Juan J|";
    }
    64%{
        content: "Juan Jo|";
    }
    76%{
        content: "Juan Jos|";
    }
    88%{
        content: "Juan Jose|";
    }
    100%{
        content: "Juan Jose";
    }
}
.textHome{
    z-index: 10;
    /* color: black; */
    /* background-color: green; */
    padding: 0 20px;
    width: 90%;
    font-size: 34px;
}
.home_description{
    /* background-color: rgba(130, 129, 129, 0.244); */
    /* color:  black; */
    width: 90%;
    height: 14vh;
    text-align: start;
    font-size: 15px;
    padding: 20px;
    z-index: 20;
    transform: translateX(150px);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.homeButtons{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin-top: 0px;
    /* background-color: rgb(64, 255, 0); */
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1.1s ease-in-out, opacity 0.5s ease-in-out;
}
.buttonsLeft, .buttonsRight{
    margin: 0px 0px;
    padding: 8px 25px;
    border-radius: 10px;
    border: 0;
    outline: none;
    background:linear-gradient(145deg, #304858b0, #71aace9c);
    box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.726);
    border: 1px solid rgba(128, 128, 128, 0.414);
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.buttonsLeft:hover, .buttonsRight:hover{
    transform: translateY(5px);
}

.buttonsRight{
    margin: 0px 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* -------------------------------------------- */
.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60vh;
    /* background-color: blue; */
    z-index: 10;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.visible{
    opacity: 1;
    transform: translateX(0);
  }
.lineBottom{
    width: 20%;
    height: 5vh;
    /* background-color: rebeccapurple; */
    border-bottom: 1px solid #304858;
    position: absolute;
    bottom: 0px;
}
