.proyects {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.531); */
  position: relative;
}
.circleProyects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -320px;
  width: 40%;
}
.circleProyectsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  right: 100px;
  width: 30%;
}
.lineTop {
  width: 20%;
  border-top: 1px solid #304858;
  height: 1vh;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  margin: 0;
}
.textProyects {
  width: 400px;
  height: 85px;
  animation: escribiendo 6s steps(20) forwards;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  /* margin-top: 10px; */
  /* background-color: rebeccapurple; */
}
@keyframes escribiendo {
  0%,
  100% {
    width: 0;
  }
  40%,
  60% {
    width: 305px;
  }
  100% {
    width: 305px;
  }
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  padding: 20px 0;
  opacity: 0;
  transform: translateY(-100px);
  transition: transform .8s ease-in-out, opacity 1s ease-in-out;
}
.visibleCards {
  opacity: 1;
  transform: translateX(0);
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  width: 280px;
  min-height: 10vh;
  margin: 20px 0;
  z-index: 100;
  border: 1px solid #7473732d;
  border-radius: 10px;
  background-color: #efe7e713;
  /* opacity: 0; */
  /* transform: translateY(-100px); */
  transition: transform 0.5s ease-in-out, box-shadow 1s, border 0.5s, opacity 1s ease-in-out;
}
.cardContainer:hover {
  box-shadow: 0px 10px 20px 0px black;
  border: 1px solid #6b6b6b00;
  transform: scale(1.05);
}
